<configuration 
	xmlns:patch="http://www.sitecore.net/xmlconfig/" 
	xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore role:require="Standalone or ContentManagement">
        <events>
            <event name="item:saving" >
                <handler type="Hackathon.Feature.Events.Events.OnEventSavingHandler, Hackathon.Feature.Events" method="OnItemSaving" resolve="true"/>
            </event>
        </events>
        <services>
            <register serviceType="Hackathon.Feature.Events.Services.ITextAnalyticsService, Hackathon.Feature.Events" implementationType="Hackathon.Feature.Events.Services.AzureTextAnalyticsService, Hackathon.Feature.Events" lifetime="Singleton"/>
        </services>
	</sitecore>
</configuration>
