<configuration 
	xmlns:patch="http://www.sitecore.net/xmlconfig/" 
	xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore role:require="Standalone or ContentManagement">
		<unicorn>
			<configurations>
				<configuration name="Hackathon.Feature.Events" dependencies="Hackathon.Foundation.*">
					<targetDataStore physicalRootPath="$(Hackathon.SerializationSource)Feature\Events\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
					<predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                        <include name="Layouts" database="master" path="/sitecore/layout/Layouts/Hackathon/Feature/Events" />
                        <include name="PlaceholderSettings" database="master" path="/sitecore/layout/placeholder settings/Hackathon/Feature/Events" />
						<include name="Renderings" database="master" path="/sitecore/layout/Renderings/Hackathon/Feature/Events" />
						<include name="Settings" database="master" path="/sitecore/system/Settings/Hackathon/Feature/Events" />
						<include name="Templates" database="master" path="/sitecore/templates/Hackathon/Feature/Events" />
                    </predicate>
					<dataProviderConfiguration enableTransparentSync="false" type="Unicorn.Data.DataProvider.DefaultUnicornDataProviderConfiguration, Unicorn" singleInstance="true" />
					<syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" maxConcurrency="1" type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" />
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>
