<configuration 
	xmlns:patch="http://www.sitecore.net/xmlconfig/" 
	xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore role:require="Standalone or ContentManagement">
		<unicorn>
			<configurations>
				<configuration name="Hackathon.Foundation.Jss">
					<targetDataStore physicalRootPath="$(Hackathon.SerializationSource)Foundation\Jss\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
					<predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                        <include name="JssApiKey" database="master" path="/sitecore/system/Settings/Services/API Keys/JSS" />
                    </predicate>
					<dataProviderConfiguration enableTransparentSync="false" type="Unicorn.Data.DataProvider.DefaultUnicornDataProviderConfiguration, Unicorn" singleInstance="true" />
					<syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" maxConcurrency="1" type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" />
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>
