<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <unicorn>
      <configurations>
        <configuration name="Hackathon.Project.Events.Content"
                       dependencies="Hackathon.Foundation.*,Hackathon.Feature.*,Hackathon.Project.Events">
          <targetDataStore physicalRootPath="$(Hackathon.SerializationSource)Project\Events\serialization.content"
                           type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow"
                           useDataCache="false"
                           singleInstance="true" />

          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Events" database="master" path="/sitecore/content/Events" />
            <include name="Media" database="master" path="/sitecore/media library/Hackathon/Project/Events" />
          </predicate>

          <dataProviderConfiguration enableTransparentSync="false" type="Unicorn.Data.DataProvider.DefaultUnicornDataProviderConfiguration, Unicorn" singleInstance="true" />
          <syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" maxConcurrency="1" type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" />
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>